{% load static %}

{% include  "./Header.html"%}

<body style="background-color: whitesmoke;background-image:url(https://i.pinimg.com/originals/3f/c7/47/3fc747beacc0b51853d28b8f08bcfa2d.jpg); background-repeat:no-repeat;width: 100%; background-size: cover">	

<div class="container-fluid">
        <br> 
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 align="center">
            <img src="{% static '/images/img3.png'%}" class="mx-auto d-block" style="width: 35%">
            <br>
        </h1>  
</div>          
</body>
{% include  "./Footer.html"%}
